.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-form {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.logo {
    width: 50%;
    height: 40%;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: flex;
    margin-bottom: 5px;
    color: white;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #525252;
    border-radius: 4px;
    background-color: black;
    color: white;
}




.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #525252;
  }
  
  .password-input-wrapper {
    position: relative;
  }
  
  @media (max-height: 500px) {
    .password-toggle {
      top: calc(50% - 8px);
    }
  }
  
  @media (max-height: 400px) {
    .password-toggle {
      top: calc(50% - 10px);
    }
  }
  
  @media (max-height: 300px) {
    .password-toggle {
      top: calc(50% - 12px);
    }
  }
  
  



.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}



.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .checkbox-label span {
    vertical-align: middle;
  }
  
.checkbox-input:checked+.checkmark {
    background-color: #ffffff;
    border-color: #525252;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-input:checked+.checkmark:after {
    display: block;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 320px;

}

.arrow {
    margin-left: 5px;
}


.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    color: #4caf50;
    margin-bottom: 10px;

}